header {
    background-image: url(../images/bg-pattern-intro-mobile.svg), linear-gradient(270deg, rgba(255, 61, 84, 0.9), rgba(255, 143, 112, 0.9));
    background-position: top 35% left 35%;
    background-repeat: no-repeat;
    border-bottom-left-radius: 5em;
    @media (min-width: 62em) {
        background-image: url(../images/bg-pattern-intro-desktop.svg), linear-gradient(270deg, rgba(255, 61, 84, 0.9), rgba(255, 143, 112, 0.9));
        background-position: top 52% left 25%;
        border-bottom-left-radius: 0;
        max-height: 80vh;
    }
    nav {
        gap: 3rem;
        padding: 2rem;
        @media (min-width: 62em) {
            padding: 0 200px;
            padding: 4rem 6rem 2rem;
        }
        .navbar-list {
            display: none;
            position: absolute;
            top: 80px;
            left: 10%;
            right: 10%;
            background-color: $colorWhite;
            color: black;
            height: auto;
            width: 80vw;
            border-radius: 10px;
            padding: 1rem 0;
            z-index: 5;
            @media (min-width: 62em) {
                background-color: transparent;
                position: initial;
                width: 70vw;
            }
            .nav__dropdown {
                margin-right: 0 !important;
                padding: 10px 0;
                @media (min-width: 62em) {
                    display: inline;
                    margin-right: 50px;
                    opacity: 0.9;
                    cursor: pointer;
                    position: relative;
                }
                span {
                    color: $colorVerydarkblackblue;
                    font: bold;
                    &::after {
                        content: url(../images/icon-arrow-dark.svg);
                        position: relative;
                        left: 5px;
                    }
                    &.opened {
                        &::after {
                            transform: rotate(180deg);
                            display: inline-block;
                            top: 3px;
                        }
                    }
                    @media (min-width: 62em) {
                        color: $colorWhite;
                        &::after {
                            content: url(../images/icon-arrow-light.svg);
                        }
                    }
                }
                .nav__dropdown-menu {
                    display: none;
                    position: unset;
                    box-shadow: none;
                    width: 100%;
                    background-color: #f1f1f1ff;
                    border-radius: 0;
                    list-style: none;
                    padding: 0;
                    margin-top: 1rem;
                    &.opened {
                        display: block;
                    }
                    @media (min-width: 62em) {
                        position: absolute;
                        background-color: $colorWhite;
                        color: $colorVerydarkblackblue;
                        z-index: 1;
                        border-radius: 10px;
                        transition: 0.5s;
                        width: 140px;
                    }
                    .nav__dropdown-item {
                        padding: 1rem 2rem;
                        width: 250px;
                        @media (min-width: 62em) {
                            width: initial;
                            padding: 1rem;
                        }
                    }
                }
            }
            .auth {
                border-top: 1px solid $colorGrayishblue;
                margin: 0 1rem;
                @media (min-width: 62em) {
                    border-top: 0;
                    margin: 0;
                }
                .secondarybtn {
                    color: $colorVerydarkblackblue;
                    font-weight: bold;
                    background-color: transparent;
                    width: 50%;
                    margin: auto;
                    @media (min-width: 62em) {
                        color: $colorWhite;
                        width: initial;
                    }
                }
                .primarybtn {
                    background-color: $colorVerylightred;
                    color: $colorWhite;
                    font-weight: bold;
                    width: 50%;
                    margin: auto;
                    @media (min-width: 62em) {
                        background-color: $colorWhite;
                        color: $colorLightred;
                        width: initial;
                        &:hover {
                            background: $colorVerylightred;
                            color: $colorWhite;
                        }
                    }
                }
            }
        }
        .d-show {
            display: block;
        }
    }
    .intro {
        padding: 1rem 1rem 4rem;
        @media (min-width: 62em) {
            padding: 4rem;
        }
        .intro-desc {
            h1 {
                font-size: 2.2rem;
                color: $colorWhite;
                @media (min-width: 62em) {
                    font-size: 3.5rem;
                }
            }
            p {
                font-size: 1.2rem;
                color: $colorGrayishblue;
            }
        }
        .intro-cta {
            .primarybtn {
                color: $colorLightred;
                font-weight: bold;
                background-color: $colorWhite;
                transition: 0.5s;
                &:hover {
                    background: $colorVerylightred;
                    color: $colorWhite;
                }
            }
            .secondarybtn {
                color: $colorWhite;
                font-weight: bold;
                background-color: transparent;
                &:hover {
                    background-color: $colorWhite;
                    color: $colorLightred;
                }
            }
        }
    }
}