.Powerful {
    margin: 5rem 0;
    @media (min-width: 62em) {
        margin: 25rem 0;
    }
    .container {
        display: grid;
        gap: 3rem;
        .img-holder {
            @media (min-width: 62em) {
                position: relative;
                left: -230px;
                transform: scale(1.5);
            }
        }
        @media (min-width: 62em) {
            grid-template-columns: 1fr 1fr;
        }
    }
}