/* Color */


/* Primary Color */

$colorLightred: hsl(356, 100%, 66%);
$colorVerylightred: hsl(355, 100%, 74%);
$colorDarkblue: hsl(208, 49%, 24%);

/* Neutral Color */

$colorWhite: hsl(0, 0%, 100%);
$colorGrayishblue: hsl(240, 2%, 79%);
$colorVerydarkgrayishblue: hsl(207, 13%, 34%);
$colorVerydarkblackblue: hsl(240, 10%, 16%);